<html ng-app="test">
<head>
<title>SVG clock</title>
<style>
form > *{
	display:block;
} 

.hidden {
	visibility:hidden;
}

</style>
</head>
<body>
<svg  width="1000px" height="500px" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs>
        <marker id="circle"
                refX="3" refY="3"
                markerWidth="6" 
                markerHeight="6"
                orient="auto">
           <circle cx="3" cy="3" r="3" fill="none" stroke-width="1" stroke="black"/>
	    </marker>
	    
	    <marker id="arrow"
                refX="6" refY="3"
                markerWidth="6" 
                markerHeight="6"
                orient="auto">
           <polyline points="0 0 6 3 0 6" fill="black" stroke-width="1" stroke="black"/>
	    </marker>
    </defs>
    <circle cx="250" cy="250" r="200" fill="yellow"/>
    <g id="second">
	    <line  x1="250" y1="250" x2="250" y2="50" stroke="black" stroke-width="1" marker-end="url(#arrow)"/>
	    <text id="secondtext" x="250" y="50">s</text>
    </g>
    <g id="minute">
     <line  x1="250" y1="250" x2="250" y2="60" stroke="blue" stroke-width="2" marker-end="url(#arrow)"/>
      <text id="minutetext" x="250" y="50">s</text>
     </g>
     
     <g id="hour" >
      <line x1="250" y1="250" x2="250" y2="70" stroke="green" stroke-width="4" marker-end="url(#arrow)"/>
      <text id="hourtext" x="250" y="50">s</text>
      </g>
</svg>
<hr/>
<div style="float:left;width:500px;" ng-controller="circle">
<form name="fake">
	<button ng-click="start();">start</button>	
	<button ng-click="stop();">stop</button>	
</form>
</div>
	<script src="../angular.min.js"></script>
	<script type="text/javascript">
		//parametric equation of ellipse: http://www.mathopenref.com/coordparamellipse.html
		//radian from horizontal center line clock wise.
		function polarToCartesian(cx, cy, rx, ry, radian){
			var x=cx+rx* Math.cos(radian);
			var y=cy+ry*Math.sin(radian);
			return [x, y];
		}
		
		/*
		12 hours(12*60 minutes) are distrubuted to Math.PI*2
		*/
		function clockToRadian(time){
			return Math.PI*2/(12*60)*time-Math.PI/2;
		}
	
	
		
		angular.module("test", []).controller("circle", function($scope, $window, $interval){
			$scope.starttime=new Date().getTime();
			var run=null;
		
			$scope.hour=0;
			$scope.minute=0;
			$scope.second=0;
			
			$scope.start=function(){
				$scope.hour=0;
				$scope.minute=0;
				$scope.second=0;
				
				run=$interval( function(){
					var date=new Date();
					if (date.getSeconds()!=$scope.second){
						$scope.second=date.getSeconds();
						document.getElementById("second").setAttribute("transform", "rotate("+$scope.second*(360/60)+" 250 250)");
						document.getElementById("secondtext").textContent=$scope.second;
					}
					if (date.getMinutes()!=$scope.minute){
						$scope.minute=date.getMinutes();
						document.getElementById("minute").setAttribute("transform", " rotate("+$scope.minute*(360/60)+" 250 250)");
						document.getElementById("minutetext").textContent=$scope.minute;
					}
					
					if (date.getHours()!=$scope.hour){
						$scope.hour=date.getHours()%12;
						document.getElementById("hour").setAttribute("transform", "rotate("+$scope.hour*(360/12)+" 250 250)");
						document.getElementById("hourtext").textContent=$scope.hour;
					}
					
				}, 1000, 0, false);
			};
			
			$scope.stop=function(){
				if (run!=null){
					$interval.cancel(run);
					run=null;
				}
			}
			
			
		});
</script>
</body>

</html>